.container {
    margin-left: 50%;
    transform: translateX(-50%);
    border: 0px solid black;
    width: 500px;
    height: 500px;
    margin-top: 90px;
    box-shadow: 0px 0px 10px gray;
    border-radius: 10px;
}
.email {
    height: 40px;
    width: 300px;
    border: 1px solid rgb(209, 207, 207);
    padding: 5px 10px;
    outline: none;
    font-size: 12pt;
    border-radius: 8px;
    margin-left: -15px;
}
.email::placeholder {
    font-style: italic;
    color: rgb(175, 171, 171);
    font-size: 13pt

}
.password {
    height: 40px;
    width: 300px;
    border: 1px solid rgb(209, 207, 207);
    padding: 5px 10px;
    margin-top: 20px;
    outline: none;
    font-size: 20pt;
    border-radius: 8px;
    margin-left: -15px;
}
.password::placeholder {
    font-style: italic;
    font-size: 13pt;
    color: rgb(175, 171, 171);
}
.signin {
    margin-top: 15px;
    margin-left: -15px;
    width: 300px;
    height: 35px;
    border-radius: 8px;
    outline: none;
    background-color: rgb(67, 67, 250);
    /* box-shadow: 0px 0px 2px 0px gray; */
    font-size: 13pt;
    color: antiquewhite
}